<main class='hero'>
  <div class="container">
    <div class="row">
      <div class="col-5 ml-auto mr-auto">
        <div class="hero-login">
          <h1 class='purple'>Sign Up</h1>
          <%= form_for @user do |form| %>

          <%= render partial: '/users/form', object: form %>

            <%= form.password_field :password, placeholder:"Password (must be 7 characters or more)" %>
            <%= form.password_field :password_confirmation, placeholder:"Confirm Password" %>
            <%= form.submit class: 'btn-primary' %>

          <% end %>

          <%= link_to "Sign up with Facebook", "/auth/facebook" %>

        </div>
        <% if @errors %>
          <div class='error-wrapper'>
            <% if @errors.count > 1 %>
              <% @errors.each do |error| %>
                <p><%= error %></p>
              <% end %>
            <% else %>
              <%= @errors %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</main>
