<section class="user-hero">

</section>
<main class='container'>
  <div class='row'>
    <div class='col-4'>
      <div class='user-avatar-wrapper'>
        <% if @user.avatar? %>
        <%= image_tag(@user.avatar.thumb.url, class: "user-avatar rounded-circle")  %>
        <% else %>
          <%= image_tag("https://s3-ap-southeast-1.amazonaws.com/sammiepls-snapspot/uploads/anonymous.jpg", class: "user-avatar rounded-circle")  %>
        <% end %>
      </div>
    </div>
    <div class='col-8 my-4'>
      <div class='user-details'>
        <h1><%= @user.username %></h1>
        <% if current_user.superadmin? %>
          <%= link_to user_path(@user), method: :delete do %>
            <p><i class='fa fa-fw fa-trash'></i> Delete User
          <% end %>
        <% end %>

        <% if @user == current_user %>
          <%= link_to edit_user_path(@user) do %>
            <i class='fa fa-fw fa-pencil'></i> Edit User</p>
          <% end %>
        <% end %>

        <p class='mb-0'>Joined since <%= @user.created_at.strftime("%Y-%m-%d") %></p>
        <div class='snapspot-taken'>
          <h4 class='d-inline'>Submitted <%= @user.snapspots.count %></h4>
          <%= image_tag("https://s3-ap-southeast-1.amazonaws.com/sammiepls-snapspot/uploads/snapspot_icon_color.png", class:"d-inline") %>
        </div>
      </div>
    </div>
  </div>

  <div class="row my-4">
    <%= render 'user_snapspots' %>
  </div>
</main>

<%= will_paginate @snapspots %>
