<section class="user-hero">

</section>
<main class='container'>
  <div class='row'>
    <div class='col-4'>
      <div class='user-avatar-wrapper'>
        <%= image_tag(@user.avatar.thumb.url, class: "user-avatar rounded-circle")  %>
      </div>
    </div>
    <div class='col-8 my-4'>
      <div class='user-details'>
        <h1><%= @user.username %></h1>
        <% if current_user.superadmin? %>
          <%= link_to user_path(@user), method: :delete do %>
            <p><i class='fa fa-fw fa-trash'></i> Delete User
          <% end %>
        <% end %>

        <% if @user == current_user %>
          <%= link_to edit_user_path(@user) do %>
            <i class='fa fa-fw fa-pencil'></i> Edit User</p>
          <% end %>
        <% end %>

        <p class='mb-0'>Total</p>
        <h4 class='d-inline'><%= @user.snapspots.count %></h4><%= image_tag("snapspot_icon.png"), class:"d-inline" %>

      </div>
    </div>
  </div>

  <div class="row my-4">
    <%= render 'user_snapspots' %>
  </div>
</main>

<%= will_paginate @snapspots %>
