<%= form.hidden_field :user_id, value: current_user.id %>

<div class="text-field">
  <%= form.text_field :name, type: 'text', placeholder: "Name" %>
</div>
<div class="text-field">
  <%= form.text_area :description, type: 'text_area', placeholder: "Description" %>
</div>
<div class="text-field">
  <%= form.text_field :address, type: 'text', placeholder: "Address" %>
</div>
<div class="text-field">
  <%= form.text_field :latitude, type: 'text', placeholder: "Latitude" %>
</div>
<div class="text-field">
  <%= form.text_field :longitude, type: 'text', placeholder: "Longitude" %>
</div>
<div class="text-field">
  <%= form.text_field :tag_list, type: 'text', placeholder: "List three tags separated by a comma" %>
</div>

<div id="map-new" style='width: 800px; height: 400px;'></div>


<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_GEOCODE_KEY'] %>&callback=initMap">
    </script>
