Search
<%= form_tag snapspots_path, :method => 'get',remote: true, :id => "snapspot_search" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
  <div id="snapspot-wrapper">
    <%= render 'snapspots' %>
  </div>
<% end %>


<%= will_paginate @snapspots %>
