<section class="search-wrapper d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-6 ml-auto mr-auto">

        <%= image_tag("https://s3-ap-southeast-1.amazonaws.com/sammiepls-snapspot/uploads/snapspot_icon.png", class: "snapspot-icon")%>
        <%= form_tag snapspots_path, :method => 'get',remote: true, :id => "snapspot_search" do %>
          <%= text_field_tag :search, params[:search], placeholder:"Search for a SnapSpot! Eg. urban, beach, nature..." %>
          <%= button_tag(name:nil,type: "submit", class: "btn-icon mr-2") do %>
            <i class="fa fa-search fa-2x"></i>
          <% end %>
        <% end %>

        <div class='popular-tags pt-3'>
          <h5>Popular Tags</h5>
          <% @tags.each do |tag| %>
          <%= link_to tag.name, tag_path(tag.name) %>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</section>

<main class="container my-4">
  <div class="row">
    <div id="snapspot-wrapper">
      <%= render 'snapspots' %>
    </div>
  </div>
</main>


<%= will_paginate @snapspots %>
