<main>
  <%= @snapspot.name %>
  <%= @snapspot.description %>
  <%= @snapspot.address %>
  <%= @snapspot.tag_list %>

  <span id="latitude"><%= @snapspot.latitude %></span>
  <span id="longitude"><%= @snapspot.longitude %></span>
  <div style='width: 800px;'>
    <div id="show-map" style='width: 800px; height: 400px;'></div>
  </div>
</main>

<%= link_to snapspot_path(@snapspot), method: :delete do %>
  <i class='fa fa-fw fa-trash'></i> Delete snapspot
<% end %>

<%= link_to edit_snapspot_path(@snapspot) do %>
  <i class='fa fa-fw fa-pencil'></i> Edit snapspot
<% end %>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_JS_KEY'] %>&callback=showMap">
</script>
